<p id="notice"><%= notice %></p>

<h1>Events</h1>

<p>
  <h3>Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    Event: <%= event.description %>
    Event Date: <%= event.date %>
    <%= link_to 'Attend this event', new_current_event_path, class: 'btn btn-default btn-sm'%>
    <%= link_to 'Show', event %>
  <% end %>
</p>

<p>
  <h3>Past Events</h3>
  <% @past_events.each do |event| %>
    Event: <%= event.description %>
    Event Date: <%= event.date %>
    <%= link_to 'Show', event %>
  <% end %>
</p>
