<p id="notice"><%= notice %></p>

<p>
  <%= @event.creator.username %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<p>
  <h3>Events Attendees</h3>

  <% @attendees.each do |attendee| %>
    <%= attendee.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
